#navbar{
    background-color: rgb(0,0,0,0.2);
    height: 75px;
    position: fixed;
    width: 100%;
    z-index: 2;
    
  }
  #logo{
    width: 80px;
    height: 70px;
  }
  
  #navbar ul li a{
    padding-right: 50px;
  }
  #dropdown{
    background-color: rgb(247, 247, 235,0.8);
  }